.box {
    background-color: #1F2937;
    /* padding-left: 50px;
    padding-right: 50px; */
    
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 100px;
}

ol {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
    gap: 10px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding-bottom: 100px;
}

.item1{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text{
    font-size: 18px;
    color: #E5E7EB;
}


button{
    background-color: #3882F6;
    text-align: center;
    color: #F9FAF8;
    display: inline-block;
    width: 100px;
    margin: 4px 2px;
    padding: 5px 10px;
    border-radius: 5px;
}

.container2{
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.infobox{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.info{
    margin-top: 25px;
    padding: 25px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.rect{
    width: 120px;
    height: 140px;
    padding: 10px;
    border: 5px solid #3882F6;
    margin: 0px;
    border-radius: 10px;
}

.item2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: space-evenly;
}

.boxtext{
    width: 180px;
    font-size: 18px;
    color: #1F2937;
    justify-content: space-evenly;
    padding: 5px;    
}

.container3{
    background-color: #E5E7EB;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 500px;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 50px;
}

.name{
    font-weight: 900;
    color: #1F2937;
    margin-right: 0;
    display: flex;
    justify-content: right;
}

.container4{
    background-color: #F9FAF8;
    padding: 100px;
    display: flex;
    justify-content: center;

}

.action{
    width: 800px;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.acthead{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 22px;

}

.button2{
    background-color: #3882F6;
    text-align: center;
    color: #F9FAF8;
    display: inline-block;
    width: 100px;
    margin: 4px 2px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid white;

}

.footer{
    color: #E5E7EB;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 25px;
}